<div ngxOverflowShadow class="container">
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
</div>
