<h1>NgxOverflowShadow</h1>

<div ngxOverflowShadow class="container">
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
  <div>safasdasasdasd</div>
</div>
