<div class="app">
    <div class="header">NgxOverflowShadow</div>
    <div class="example">
        <div class="description">
            Displaying a shadow on the top/bottom side of the container as long as scrolling up/down is possible...
        </div>
        <div ngxOverflowShadow class="container">
            <ul>
                <li>Coffee
                    <ul>
                        <li>Caffè Americano</li>
                        <li>Café Latte (or Café au lait)</li>
                        <li>Cappuccino</li>
                        <li>Espresso</li>
                        <li>Flat White</li>
                        <li>Long Black</li>
                        <li>Macchiato</li>
                        <li>Mochaccino</li>
                        <li>Irish Coffee</li>
                        <li>Vienna</li>
                        <li>Affogato</li>
                    </ul>
                </li>
                <li>Tea
                    <ul>
                        <li>Barley Tea</li>
                        <li>Black Tea</li>
                        <li>Chaga Tea</li>
                        <li>Chai Tea</li>
                        <li>Chamomile Tea</li>
                        <li>Chrysanthemum Tea</li>
                        <li>Dandelion Tea</li>
                        <li>Essiac Tea</li>
                        <li>Green Tea</li>
                        <li>Hibiscus Tea</li>
                        <li>Matcha Tea</li>
                        <li>Moringa Tea</li>
                    </ul>
                </li>
                <li>Milk
                    <ul>
                        <li>Full cream</li>
                        <li>Low fat</li>
                        <li>Skim milk</li>
                        <li>Lactose-free milk</li>
                        <li>Rice and oat milk</li>
                        <li>Soy milk</li>
                        <li>Almond milk</li>
                        <li>Flavoured milk</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
